name: Build and release

on:
  schedule:
    - cron: "0 0 * * *" # Run daily at midnight UTC
  workflow_dispatch: # Allow manual triggering
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: macos-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install Xcode Command Line Tools
        run: |
          if ! xcode-select -p &>/dev/null; then
            echo "Installing Xcode Command Line Tools..."
            xcode-select --install
            sudo xcode-select --switch /Library/Developer/CommandLineTools
          else
            echo "Xcode Command Line Tools already installed."
          fi

      - name: Install dependencies
        run: |
          brew install libfido2 openssl autoconf automake libtool pkgconf gcc

      - name: Clone OpenSSH portable repository
        run: |
          git clone https://github.com/openssh/openssh-portable.git

      - name: Build sk-libfido2.dylib
        env:
          BREW_PREFIX: /opt/homebrew
          BREW_OPENSSL_PATH: $(ls -d /opt/homebrew/Cellar/openssl@3/*)
          BREW_LIBFIDO2_PATH: $(ls -d /opt/homebrew/Cellar/libfido2/*)
        run: |
          cd openssh-portable
          autoreconf -i
          export CFLAGS="-L$BREW_OPENSSL_PATH/lib -I$BREW_OPENSSL_PATH/include -L$BREW_LIBFIDO2_PATH/lib -I$BREW_LIBFIDO2_PATH/include -Wno-error=implicit-function-declaration"
          export LDFLAGS="-L$BREW_OPENSSL_PATH/lib -L$BREW_LIBFIDO2_PATH/lib"
          ./configure --with-security-key-standalone
          make clean
          make
          mv sk-libfido2.dylib ../sk-libfido2.dylib

      - name: Extract OpenSSH version
        working-directory: openssh-portable
        id: extract-version
        run: |
          VERSION=$(grep '^#define SSH_VERSION' version.h | awk '{print $3}' | tr -d '"')
          echo "OPENSSH_VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Create or update release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.extract-version.outputs.OPENSSH_VERSION }}
          name: sk-libfido2.dylib for OpenSSH ${{ steps.extract-version.outputs.OPENSSH_VERSION }}
          body: |
            This release contains the `sk-libfido2.dylib` library compiled for macOS (Sonoma 14.0 or later) to enable hardware security key support (e.g., YubiKey) with the macOS built-in OpenSSH client.

            Built from OpenSSH portable source: https://github.com/openssh/openssh-portable
          draft: false
          prerelease: false
          files: sk-libfido2.dylib
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
